#it{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  color: white;
  background-color: red;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid red;
  border-radius: 10px;
  display: inline-block;


}